@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Ubuntu&display=swap');


*{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    justify-content: space-evenly;
    font-family:'Ubuntu', sans-serif; 
   
}


tr:nth-child(odd){
    background-color:rgb(232, 232, 232) ;
    z-index: 2 ; 
    ;
}

th{
    background-color: rgb(186, 52, 52);
    color: white;
font-size: 14px;
padding: 10px;

}

body{
    background-color: rgb(236, 208, 212);
    z-index: 1;
}

tr:nth-child(even){

background-color: white;
}

td{
    padding: 9px;
   align-items: center

}

table{

    justify-content: center;
    margin: auto;
    height: 55vh;
    width: 73vw;
    border-bottom: 2px solid rgb(186, 52, 52);
 
}

caption{
    padding-bottom: 20px ;
    font-weight: bold;
}

caption img{
    width: 2%; 
    margin-left: 6px;
}

.kalvium_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

